#page {
	width: 90%;
	margin: auto;
}
#mapadiv {
	width: 75%;
}
#svg-main {

}
#message {
	font-family: Arial, sans-serif;
}
#end-turn {
	margin-right: 20px;	
}
#new-game {
	margin-left: 20px;	
}
.land {
	stroke:grey;
	stroke-width:0.2;
}
.landlabel {
	stroke: #585858;
	fill: #585858;
	font-size:18px;
	font-family:Arial
}
.hud {
	border: outset;
	padding: 0.5em;
}
.foto {
	/*border: dashed;
	border-color: yellow;*/
}
.player-avatar {
	max-width: 85%;
}
.player-message {
	font-family: monospace;
	font-size: 20px;
}
.player-name {
	font-family: monospace;
	font-size: 20px;
	font-weight: bold;
}
.mensaje {

}
